* {
    max-width: 880px;
    margin: auto;
	color: #000;
	font-size: 20px;
	box-sizing: border-box;
}

.grey-bg {
	background-color: #cfcfcf;
}

h2 {
    font-size: 48px;
    margin-bottom: 30px;
	color: #0051ac;
}

h2::first-letter {
	color: #ff0000;
}

/* MAIN-MENU */

ul {
    display: table;
    border-collapse: collapse;
}

li {
    display: table-cell;
}

li a {
    display: block;
    text-decoration: none;
    padding: 10px;
	margin: 0 1px;
	background-color: #cfcfcf;	
}

.stub {
	width: 33%;
	text-indent: -9999px;
}

/* SUB-MENU */

.sub {
	margin: 0;
	padding: 0;	
	display: none;
}

.sub li {
	display: table-row;
    left: 30px;
    right:0;
}

.sub a {
	display: block;
	margin: 2px 0;
	width: 175px;
}

.list-element:hover .sub {
	display: block;	
	position: absolute;
}

ul .last a {
    position: relative;
    right: 25%;
}

.list-element:hover > a {
	background-color: #afafaf;	
}

.link:hover {
	background-color: #afafaf;
}




