* {
    max-width: 880px;
    margin: auto;
	color: #000;
	font-size: 20px;
	box-sizing: border-box;
}

.grey-bg {
	background-color: #cfcfcf;
}

h2 {
    font-size: 48px;
    margin-bottom: 30px;
	color: #0051ac;
}

h2::first-letter {
	color: #ff0000;
}

div {
    margin: 30px 0;
}
/* MENU-FIRST */

#menu ul {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

#menu li {
    display: table-cell;
}

#menu li a {
    display: block;
    text-decoration: none;
    padding: 10px;
	margin: 0 1px;
	background-color: #cfcfcf;	
}

#menu .stub {
	width: 33%;
	text-indent: -9999px;
}

/* SUB-MENU */

#menu ul ul {
/*	margin: 0;*/
	padding: 0;	
	display: none;
}

#menu ul ul li {
	display: table-row;
}

#menu ul ul a {
	margin: 1px 0;
	width: 175px;
}

#menu li:hover ul {
	display: table-cell;	
	position: absolute;
}

/*последний элемент в меню, что бы не вылезало за границы батьки*/
#menu .last a {
    position: relative;
    right: 38%;
}

#menu ul li:hover > a {
	background-color: #afafaf;	
}

#menu ul ul a:hover, #menu ul ul ul a:hover, #menu ul ul ul ul a:hover {
	background-color: #afafaf;
}

/* MENU-SECOND */
#menu .two ul ul ul {
    display: none;
}

#menu .two ul ul ul ul > li {
    display: none;
}

#menu .two ul ul li:hover ul {
    display: block;
    position: relative;
    height: 0;
}

#menu .two ul ul ul li:hover li {
    display: table-row;
}

#menu .two ul ul ul {
    left: 175px;
    top: -45px;
}

#menu .two ul ul ul ul {
    left: -175px;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}
